/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgb(255, 141, 203);
    --main-text-color: rgb(53, 52, 48);
    --menu-item-color: var(--main-text-color);
    --title-color: rgb(255, 194, 230);
    --section-title-color: var(--main-text-color);
    --subtitle-color: var(--main-text-color);
    --link-action-color: var(--main-text-color);
    background: url(../images/cover-image-light.png) no-repeat center / cover;
    
  }
  .decor-element {
    display: none;
  }

}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background: url(../images/cover-image-light.png) no-repeat center / cover;
  
  --accent-color: rgb(255, 141, 203);
  --main-text-color: rgb(53, 52, 48);
  --menu-item-color: var(--main-text-color);
  --title-color: rgb(255, 194, 230);
  --section-title-color: var(--main-text-color);
  --subtitle-color: var(--main-text-color);
  --link-action-color: var(--main-text-color);

  .decor-element {
    display: none;
  }
}
