/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --accent-color: 255 141 203;
  --main-text-color: 53 52 48;
  --menu-item-color: rgb(var(--main-text-color));
  --menu-item-hover: rgb(var(--main-text-color) / 0.4);
  --title-color: rgb(255, 194, 230);
  --decor-element-color: rgb(53, 52, 48);
  --section-title-color: rgb(var(--main-text-color));
  --subtitle-color: rgb(var(--main-text-color));
  --link-action-color: rgb(var(--main-text-color));
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: 255 141 203;
    --main-text-color: 53 52 48;
    --menu-item-color: rgb(var(--main-text-color));
    --menu-item-hover: rgb(var(--main-text-color) / 0.4);
    --title-color: rgb(255, 194, 230);
    --decor-element-color: rgb(53, 52, 48);
    --section-title-color: rgb(var(--main-text-color));
    --subtitle-color: rgb(var(--main-text-color));
    --link-action-color: rgb(var(--main-text-color));

    .decor-element {
      display: none;
    }
  }

  .page {
    background: url(../images/cover-image-light.png) no-repeat center / cover fixed;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background: url(../images/cover-image-light.png) no-repeat center / cover fixed;

  .decor-element {
    display: none;
  }
}
