/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 20px;
  color: rgb(var(--main-text-color));
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 23px;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/* Хэдер */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 39% min-content 39%;
  height: 100vh;
  margin-block-end: 40px;
  min-block-size: 668px;
}
/* Стилизация меню */
.header__theme-menu {
  display: grid;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px 5.5px 13px;
  color: var(--menu-item-color);
  line-height: 18px;
  inline-size: 70px;
  block-size: 26px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-item-hover);
  outline-offset: -1px;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px var(--menu-item-color) solid;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-item-color);
  outline-offset: -1px;
  pointer-events: none;
}

/* Стилизация заголовка в хэдере */
.page-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 rgb(var(--accent-color));
}

.header .page-title {
  position: relative;
  left: -20px;
}

/* Стилизация цитаты в хэдэре */
.header__quote {
  justify-self: end;
  align-content: center;
  width: 50%;
}

/* Декоративня надпись */
.decor-element {
  position: absolute;
  top: 1px;
  right: 9px;
  display: flex;
  align-items: center;
  color: rgb(var(--accent-color));
}

.decor-element::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgb(var(--accent-color));
  background: rgb(var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

/* Декоративные углы */
.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: solid var(--decor-element-color);
  border-width: 1px 1px 0px 0px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  border: solid var(--decor-element-color);
  border-width: 0px 0px 1px 1px;
  inline-size: 25px;
  block-size: 25px;
}

/* Разметка основной секции */
.content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px 20px;
  margin-block-end: 80px;
}

.difficulties {
  /* gap: 21px 20px; */
  .main-article {
    grid-column: 2 / 4;
  }
}

.reasons-reduction {
  .content-section__title {
    grid-column: 1/4;
    inline-size: 30%;
  }
}

.recommendations {
  /* gap: 23px 20px; */
  margin-block-end: 81px;
  .main-article {
    grid-column: 2 / 4;
  }
}

.gallery-section {
  gap: 20px;

  .content-section__title {
    grid-column: 1 / 4;
  }
}

.content-section__title {
  color: var(--section-title-color);
  font-size: var(--main-font-size);
}

.title-decor {
  color: var(--subtitle-color);
  font-weight: bold;
  background: rgb(var(--accent-color));
}

.main-article__title {
  margin-block-end: 10px;
  font-weight: bold;
  font-size: inherit;
}

.main-article__subtitle {
  margin-block-end: 9px;
  font-weight: normal;
}

.main-article__text {
  line-height: 130%;
}

.main-article__link {
  text-shadow: 1px 1px 0 rgb(var(--accent-color));
}

.main-article__link:focus-visible {
  outline: 1px inset rgb(var(--main-text-color));
}

.main-article__link:hover {
  border-block-end: 1px solid rgb(var(--main-text-color));
}

.additional-header {
  margin-block-end: 21px;
}

.sunset-image {
  grid-column: 1/3;
}

.icecream-image {
  grid-column: 3;
  grid-row: 2/4;
}

.tape-image {
  grid-column: 1;
  grid-row: 3 / 6;
}

.street-image {
  grid-column: 2/4;
  grid-row: 4/6;
}

.content-section__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-block-size: 668px;
}

.footer .page-title {
  padding-block-end: 38px;
}

@media (width < 1024px) {
  .header {
    grid-template-rows: 43% min-content 44%;
    margin-block-end: 40px;
  }

  .header__theme-menu {
    justify-content: end;
    align-content: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .difficulties {
    gap: 20px 38px;
  }

  .reasons-reduction {
    .main-article {
      grid-column: 1/4;
      grid-row: auto;
    }
  }

  .recommendations {
    .main-article {
      padding-inline-start: 7px;
    }
  }
}

@media (width < 768px) {
  .page {
    padding: 10px;
  }

  .page-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    grid-template-rows: 34% min-content 35%;
    align-items: center;
    margin-block-end: 31px;
  }

  .header .page-title {
    position: static;
  }

  .header__quote {
    width: 100%;
  }

  .content-section {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .difficulties {
    .main-article {
      grid-column: 1;
    }
  }

  .reasons-reduction {
    gap: 21px;
    .main-article {
      grid-column: 1;
      grid-row: auto;
    }
    .content-section__title {
      grid-column: 1;
      width: 100%;
    }
  }

  .recommendations {
    gap: 21px;
    margin-block-end: 52px;
    .main-article {
      grid-column: 1;
      padding-inline-start: 0;
    }
  }

  .gallery-section {
    gap: 10px;
    margin-block-end: 51px;
    .content-section__title {
      grid-column: 1;
    }
  }

  .content-section__img {
    grid-column: 1;
    grid-row: auto;
  }

  .footer .page-title {
    padding-block-end: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }
}
