/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Настройки шрифтов */
  --main-font-family: "IBM Plex mono";
  --main-font-size: 18px;
  --main-line-height: 23px;
  --header-title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
/* Настройки цвета */
/* Цыет заголовков и меню */
  --accent-color: rgb(255, 0, 112);
  --menu-item-color: var(--accent-color);
  /* Цвет поупрозрачного заголовка в текстовой секции */
  --accent-color-transparent: rgba(255, 0, 112, .4);
  /* Цвет основного текста */
  --main-text-color: rgb(241, 178, 206);
  /* Цвет заголовков-параграфов и цитаты */
  --subtitle-color: rgb(0, 0, 40);
  /* Цвет главного заголовка */
  --title-color: rgb(219, 0, 255);
  --section-title-color: var(--accent-color);
  --link-action-color: var(--accent-color);
}